.country-flag {
    width: 30px;
}

.holiday-config {
    padding-top: 1rem;
    padding-bottom: 0;
    min-width: 440px;
}
.holiday-config .info-center {
    position: absolute;
    top: 0.4rem;
    left: 0.5rem;
}
.info-center:hover{
    color: greenyellow;
    cursor: pointer;
}
.info-center.active{
    color: greenyellow;
}
.holiday-config .message-container {
    width: 100%;
}

.validation-message {
    color: #282c34;
   font-weight: 600;
    background-color: goldenrod;
    border-radius: 3px;
}

.currency-helper {
    list-style-type: none;
}

.currency-helper .currency-item {
    display: inline;
    padding-right: 10px;
}

.currency-helper .currency-item.success {
    color: greenyellow;
}

.currency-helper .currency-item.no-country {
    color: red;
}
.dates {

}
.dates input{
}
.dates label{
    width: 50%;
}
.currencies {

}
.currency {
    margin-right: 10px;
}
.currency label {
    width: 100%;
}
.includes {

}
.includes input{

}
.includes input:hover{
    cursor: pointer;
}
.includes .include-on {
    color: greenyellow;
}
.includes label {
    margin-left: 10px;
}
.buttons {
    width: 100%;
}
.get-holidays-btn {


    font-weight: bold;
    line-height: 2rem;
    width: 100%;
}

.tippy-box {
    margin-bottom: 10px;
}
.tippy-title {
    color: greenyellow;
    border-bottom: 1px solid #dadada;
    margin-bottom: 0.3rem;
}
.tippy-body{
    /*font-size: 0.8rem;*/

}
.tippy-body .yellow-text {
    color: darkorange;
    font-weight: bold;
}
/*Extra small devices (portrait phones, less than 576px)*/
/*No media query since this is the default in Bootstrap*/


/*Small devices (landscape phones, 470px and up)*/
@media (min-width: 470px) {

}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
