.no-holidays {
    font-size: 1.2rem;
    font-weight: bold;
    color: greenyellow;
}

.holidays-card {
    border-radius: 0 0 0 1rem;
    margin-bottom: .1rem;
}

.holidays-card .header {
    color: greenyellow;
    border-radius: 0 0 0 1rem;
    padding-top: 0.7rem;
}

.holidays-card .header p {
    font-weight: bold;
}

.holidays-card .holiday-body {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.holidays-card .holiday-body .holidays-table {
    margin-bottom: 0;
}

.holidays-card .holiday-body .holidays-table th {
    color: greenyellow;

    border-top: none;
}
.holidays-table tbody tr {
    border-left: 1px solid #444;
}
.holidays-table .holiday-name {
    width: 15%;
    max-width: 15%;
}

.holidays-table .holiday-country {
    width: 15%;
    max-width: 15%;
}

.holidays-table .holiday-description {

}
